<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/the-big-picture.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>PasswordWallet</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">IT Systems Security laboratory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showSites}">Show list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showMenu}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logOut}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Users details</h1>
    <div>
        <form autocomplete="off" method="post" class="form-horizontal" name="loginForm" th:action="@{/processChangeUser}" th:object="${user}">

            <div class="col" th:switch="${userToEdit.isPasswordKeptAsHash}">
                    <h6 th:text="'Hello, ' + ${userToEdit.login.toUpperCase()}"> </h6>
                    <h6 th:text="'Your email is: ' + ${userToEdit.email} + '. You can not change this.'"> </h6>
                    <p th:case="true" > You chose SHA512 encryption so please also enter salt. </p>
                    <p th:case="false"> You chose HMAC encryption so please also enter secret key. </p>
            </div>

            <div class="form-group row">

                <label class="col col-form-label">Enter new password or rollback old one: </label>
                <div class="col-5">
                    <datalist id="list">
                     <option th:each="record : ${records}" th:value="${record.oldValue}"></option>        <!--   th:text="${record.oldValue}-->
                    </datalist>
                    <input type="text" th:field="*{password}" name="password" class="form-control" placeholder="Password" minlength="8" maxlength="12" list="list" required/>
                </div>

            </div>

            <div class="form-group row">
                <label class="col col-form-label">New salt/secret key: </label>
                <div class="col-5">
                    <input id="salt" type="text" th:field="*{salt}" name="salt" class="form-control" placeholder="Salt/secret key"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

        </div>
    </div>
    </div>
</section>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>