<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/the-big-picture.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>PasswordWallet</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">IT Systems Security laboratory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showSites}">Show list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showMenu}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logOut}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Edit existing site</h1>
                <form autocomplete="off" method="post" th:action="@{/processSiteEdit}" th:object="${siteEdit}">

                    <div class="form-group row">
                        <label class="col col-form-label">Site</label>
                        <div class="col-8">
                            <input type="text" th:field="${siteEdit.site}" class="form-control" placeholder="Enter website" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col col-form-label">Password to site</label>
                        <div class="col-8" >
                            <span class="font-italic text-success" th:text="'Old was: ' + ${passwordDec}"></span>
                            <input type="text" class="form-control" th:field="${siteEdit.password}" onfocus="this.value=''" placeholder="Enter password" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label">Add description</label>
                        <div class="col-8">
                            <input type="text" th:field="${siteEdit.description}" class="form-control" placeholder="Add additional information"/>
                        </div>
                    </div>
                    <a th:href="@{/showSites}"> <button type="button" class="btn btn-secondary">Cancel</button> </a>
                    <a th:href="@{/showSites}"> <button type="submit" class="btn btn-dark">Edit site</button></a>
                </form>
            </div>

        </div>
    </div>
    </div>
</section>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>