<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/the-big-picture.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>PasswordWallet</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">IT Systems Security laboratory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">User Login</h1><br>

    <div>
        <form autocomplete="off" method="post" class="form-horizontal" name="loginForm" th:action="@{/loginForm}">

            <div class="form-group row">
                <label class="col col-form-label">Email:</label>
                <div class="col-8">
                    <input type="email" name="email" class="form-control" placeholder="E-mail" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" name="password" class="form-control" placeholder="Password" minlength="8" maxlength="12" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Salt/secret key: </label>
                <div class="col-8">
                    <input id="salt" type="text" name="salt" class="form-control" placeholder="Salt/secret key"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-dark">Login</button>
            </div>

            <br>
            <!--/*@thymesVar id="errorNoUser" type="com.bsi.app.controller.UserController"*/-->
            <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
            <!--/*@thymesVar id="errorWrongCredentials" type="com.bsi.app.controller.UserController"*/-->
            <div class="alert alert-danger" role="alert" th:text="${errorWrongCredentials}" th:if="${errorWrongCredentials}"></div>
            <!--/*@thymesVar id="success" type="com.bsi.app.controller.UserController"*/-->
            <div class="alert alert-danger" role="alert" th:text="${errorNoUser}" th:if="${errorNoUser}"></div>

        </form>
</div>

            </div>
        </div>
    </div>

</section>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>