<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/the-big-picture.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="jquerry/jquery.bpopup.min.js"></script>

    <script>
        function popUp() {
            document.getElementById("myModal");
        }
    </script>


    <title>PasswordWallet</title>
</head>
<body onload="popUp()">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">IT Systems Security laboratory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showMenu}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logOut}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<section>
    <div class="container text-center">
        <br><h3>Info: </h3>
        <div class="align-content-center">

        </div>
        <br>
        <div class="font-italic text-success" th:text="'Your decoded password to site: '+${thisSite.site}"></div><br>
        <div class="alert alert-success" th:text="${decoded}"></div>

        <a th:href="@{/showSites}"> <button class="btn btn-secondary">Back to your list</button></a>
    </div>
</section>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>