<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/the-big-picture.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <title>PasswordWallet</title>
    <script th:src="@{/js/auto.js}"></script>
    <script src="../static/js/auto.js"></script>

</head>
<body onload="showAuto();">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">IT Systems Security laboratory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showMenu}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logOut}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<section>
<div class="container text-center">
<br><h3>Your password wallet: </h3><br>
    <div class="align-content-center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Main password</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <h4 class="modal-title">Enter your main password</h4>
                    </div>
                    <form autocomplete="off" method="post" class="form-horizontal" name="loginForm" th:action="@{/processPassDecoding}">
                        <div class="modal-body">
                            <input type="password" name="password"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container text-center">
            <form autocomplete="off" method="post" class="form-horizontal" name="loginForm" th:action="@{/enterModifyMode}">
                <div>
                    <button type="submit" class="btn btn-info">Enter modify mode</button>
                </div>
            </form>
        </div>

    </div>

    <br>
<table class="table align-middle" >
    <thead>
    <tr>
        <th>#</th>
        <th>Site</th>
        <th>Password</th>
        <th>Description</th>
        <th>Show password</th>
        <th>Edit</th>
        <th>Decrypt</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="site : ${sites}">

        <td ><span th:text="${siteStat.count}"></span></td>

        <td ><span th:text="${site.site}"></span></td>

        <td style="width: 200px">

            <div class="collapse" th:attr="id='passWD'+${site.id}">
                <span th:text="${site.password}"></span>
            </div>

        </td>

        <td ><span th:text="${site.description}"></span></td>

        <td ><span><button type="button" class="btn btn-secondary active" data-toggle="collapse" th:attr="data-target='#passWD'+${site.id}" aria-expanded="false" aria-controls="collapseExample"> Show/Hide </button></span></td>

        <td ><span><a th:href="${'/editSite/'+site.id}"><button type="button" class="btn btn-secondary">Edit</button></a></span> </td>

        <td ><span><a th:href="${'/decodePassword/'+site.id}"><button th:attr="data-target='#decodePass'+${site.id}" type="button" class="btn btn-secondary">Decode</button></a></span></td>

        <td ><span><a th:href="${'/deleteSite/'+site.id}"><button type="button" class="btn btn-secondary">Delete</button></a></span> </td>

    </tr>
    </tbody>
</table>
    <!--/*@thymesVar id="error" type="com.bsi.app.controller.SitesController"*/-->
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <!--/*@thymesVar id="success" type="com.bsi.app.controller.SitesController"*/-->
    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
 <a th:href="@{/addSite}"> <button class="btn btn-dark">Add new site</button></a>
</div>
</section>

</body>
</html>