<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/the-big-picture.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <title>PasswordWallet</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">IT Systems Security laboratory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showMenu}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logOut}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<section>
    <div class="container">
        <br><h3>Your logs: </h3><br>
        <br>
    <div class="container col-md-4 ">
        <h6>Filter by function:</h6>
        <select id="myList" onchange="filter()" class="form-control">
            <option>All</option>
            <option>View</option>
            <option>Create</option>
            <option>Site update</option>
            <option>Password update</option>
            <option>Delete</option>
        </select> <br>
    </div>
        <table class="table align-middle" id="myTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="logs : ${logs}">

                <td ><span th:text="${logsStat.count}"></span></td>

                <td ><span th:text="${#temporals.format(logs.localDate, 'dd MMMM yyyy HH:mm:ss')}"></span></td>

                <td ><span th:text="${logs.function.description}"></span></td>

                <td ><span th:text="${logs.function.functionName}"></span></td>

            </tr>
            </tbody>
        </table>

    <a th:href="@{/showMenu}"> <button type="button" class="btn btn-secondary">Back</button> </a>
    </div>



</section>

<script>
    function filter() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myList");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if(filter == "ALL") {
                    tr[i].style.display = "";
                } else {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

</script>


</body>
</html>